<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    WELCOME TO OUR WEBSITE 
    {{{body}}}
  </body>
</html>
